.upload {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  & .title {
    font-size: 16;
    color: var(--gray-800);
  }
  & .btn-upload {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ff5050;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 999px;
  }
}
