.dashboard {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    & .greetings {
        display: flex;
        & span {
            &:nth-child(1) {
                padding-right: 3px;
            }
            &:nth-child(2){
                font-weight: bold;
                font-size: 16px;
            }
        }
    }

}